table, th, td {
  border: 1px solid black;
}
table {
  table-layout : fixed;
}
th, td {
  padding: 15px;
}
body {
  padding-top: 20px;
  width : 620px;
  margin-left:auto;
  margin-right:auto;
}
@media (max-width: 700px) {
  body {
    padding-top: 2.8%;
    width: 90%;
  margin-left:auto;
  margin-right:auto;
  }
}
.table-bordered td, .table-bordered th{
    border-color: black !important;
}
