table, th, td {
  border: 1px solid black;
}
table {
  table-layout:auto;
}
th, td {
  padding: 15px;
}
body{
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}
.table-bordered td, .table-bordered th{
    border-color: black !important;
}
